<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <appSettings>
    <!-- Here add the json file to the player database. -->
    <!-- You can find one on this URL: -->
    <!-- https://gist.github.com/igeligel/f647e1b545f486b25bae625e16440532 -->
    <add key="FilePath" value="D:\\Eigene Info\\Database.txt"/>
  </appSettings>
</configuration>
